/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/raleway-v19-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/raleway-v19-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/raleway-v19-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/raleway-v19-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 14px;
  background-color: rgb(12, 18, 44);
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 970px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.site-content {
  z-index: 100;
  display: flex;
  height: 100vh;
  align-items: center;
}
.fylo-container {
  display: flex;
  align-items: flex-end;
}
.site-content::before {
  display: block;
  content: "";
  background-image: url(../images/bg-desktop.png);
  width: 100%;
  height: 420px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
}
.fylo-files {
  padding: 40px;
  margin-right: 20px;
  border-radius: 10px;
  border-top-right-radius: 100px;
  width: 350px;
  background-color: #1e2c69;
  z-index: 99;
}
.files-list {
  padding: 0;
  display: flex;
  list-style-type: none;
  align-items: center;
}
.files-item {
  display: flex;
  background-color: rgb(12, 18, 44);
  border-radius: 8px;
  padding: 12px;
  margin-right: 15px;
}
.btn {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.document {
  background-image: url(../images/icon-document.svg);
  width: 20px;
  height: 24px;
}
.upload {
  background-image: url(../images/icon-upload.svg);
  width: 24px;
  height: 16px;
}
.folder {
  background-image: url(../images/icon-folder.svg);
  width: 24px;
  height: 20px;
}
.fylo-progress {
  padding: 40px;
  margin-left: 20px;
  border-radius: 10px;
  position: relative;
  background-color: #1e2c69;
  width: 540px;
}

.fylo-progress-item {
  display: flex;
  justify-content: space-between;
}
.fylo-progress-amount {
  padding: 10px;
  background-color: #fff;
  color: #000;
  position: absolute;
  top: -30px;
  right: 40px;
  font-size: 14px;
  border-radius: 10px;
}

.fylo-progress-amount b {
  font-size: 26px;
}

.fylo-progress::before {
  display: flex;
  order: 2;
  content: "";
  height: 10px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}
